// bower:scss
// endbower

//colors:
$mainText: #ffffff;
$redText: #446e6c;
$shadow: #000000;
$light: #e7dab0;
$dark: #242424;

//margins, paddings
$menuPadding: 10px;

//fonts
@font-face {
    font-family: handWritten;
    src: url(fonts/markinson.otf);
}
@font-face {
    font-family: lightSansation;
    src: url(fonts/Sansation_Light.ttf);
}
@font-face {
    font-family: boldSansation;
    src: url(fonts/Sansation_Bold.ttf);
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
	font-family: lightSansation;
	padding: 0;
	margin: 0;
	background-color: $mainText;

}
.newsletter{
	width: 100%;
	position: fixed;
	height: 100%;
	z-index: 1;
	background-color: rgba(0,0,0,0.8);
	display: none;


}
.newsletter-inner{
	color: white;
	border: solid 1px white;
	border-radius: 15px;
	font-family: lightSansation;
	text-align: center;
	position: relative;
	width: 90%;
	z-index: 2;
	margin: auto;
	padding:15px;
	top: 40%;
	opacity: none;
	input.newsl{
		font-size: 25px;
		height: 70px;
		width: 70%;
		display: block;
		margin: auto;
		padding: 5px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;

	}
}
.close{
	text-align: right;
	cursor: pointer;
}
h1{

	 font-family: boldSansation;
}
h4{
	color: $redText;
	font-style: italic;
}
h6{
  text-align: right;
  cursor: pointer;
}
.menu-back{
	width: 100%;
	height: 250px;
	background-color: $dark;
}
img.gallery{
	width: 100%;
	margin-top: 15px;
	visibility:hidden;
}
#myImg {
  background: url('/images/loading.gif') 50% no-repeat;

}

.main-background{
	background-image: url('/images/mainbackground-mobile.jpg');
	width: 100%;
	height: 700px;
	background-position: center;

}
.slogan {
	position: absolute;
	font-family: handWritten;
	font-size: 8em;
	color: $mainText;
	text-align: center;
	width: 100%;
	top: 30%;
	z-index: 0;

}
.slogan-inner {
	 font-family: lightSansation;
	font-size: 25px;
	text-decoration: underline;
	z-index: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */

.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
  background-color: $dark;
  position: relative;
  clear: both;
}

/* Custom page header */
.header-main {
  background-color: none !important;
  margin-bottom: 10px;
  position: absolute;
  width: 100%;
  margin: auto;
  text-align: center;
  color: $mainText;
   font-family: boldSansation;
  font-size: 20px;

	ul {

		list-style-type: none;
		padding: 0;
		margin: 0;
		-webkit-margin-before: 0em;
		-webkit-margin-after: 0em;

			img{
				margin-top: $menuPadding;
				border-bottom: solid 1px white;
			}
			li {
				display: blocks;
				padding: $menuPadding;
				margin: 0;
				border-bottom: solid 1px white;

				a, a:visited {
					color: $mainText;
					text-decoration: none;
					text-shadow: 1px 1px 4px $shadow;

				}
				a:hover {
					color: $redText;
				}
			}
	}
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}
.header {
  background-color: $dark;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
  margin: auto;
  text-align: center;
  color: $mainText;
   font-family: boldSansation;
  font-size: 20px;

	ul {

		list-style-type: none;
		padding: 0;
		margin: 0;
		-webkit-margin-before: 0em;
		-webkit-margin-after: 0em;

			img{
				margin-top: $menuPadding;
				border-bottom: solid 1px white;
			}
			li {
				display: blocks;
				padding: $menuPadding;
				margin: 0;
				border-bottom: solid 1px white;

				a, a:visited {
					color: $mainText;
					text-decoration: none;
					text-shadow: 1px 1px 4px $shadow;

				}
				a:hover {
					color: $redText;
				}
			}
	}
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.info-container{
	text-align: center;
	padding: 15px 15px 15px 15px;
	margin-bottom: 15px;
  position: relative;
}
.info-container-inner{
	padding: 15px;

}


/* Custom page footer */




/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}
.slideUp {
    animation-name: slideUp;
    -webkit-animation-name: slideUp;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
	width: 100%;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@-webkit-keyframes slideUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
input, textarea{
	width: 80%;
	font-family: boldSansation;
	padding: 5px;
	margin-top: 5px;
	border: solid 3px $redText;
}
input:focus, textarea:focus{
	box-shadow: 0px 0px 25px $redText;
	border: solid 3px $redText;
}
.sendbtn{
	width: 150px;
	height: 50px;
	background-color: $redText;
	color: $mainText;
	border: none;

}
.sendbtn:hover{
		background: #2a4e4c;

	}

input[type="submit"]:disabled {
    background: #dddddd;
}
input.newsl{
	text-align: center;
	color: $redText;
}
.sendbtn-newsl{
	text-align: center;
	font-size: 25px;
	height: 70px;
	width: 70%;
	display: block;
	margin: auto;
	margin-top: 5px;
	padding: 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: $redText;
}
.blog-container-inner{
  padding: 15px;
}
.pagination {
  margin: 0 auto;
  //width: 768px;
  text-align: center;
  display: block;
}
.pagination-inner{

  display: inline-block;
  //float:left;
  margin: 3px;
}
.pagination-btn{
  border: solid 1px;
  border-radius: 5px;
  width: 15px;
  padding: 5px;
  cursor: pointer;
  text-align: center;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {


	.main-background{
	background-image: url('/images/mainbackground.jpg');
	width: 100%;
	height: 1080px;
	background-position: center;

	}
	.slogan{
	position: absolute;
	font-family: handWritten;
	font-size: 10em;
	color: $mainText;
	text-align: center;
	width: 100%;
	top: 50%;

	}
	.menu-back{
	width: 100%;
	height: 55px;
	background-color: $dark;
	}
  .container {
    max-width: 100%;


  }
  .info-container{
	text-align: center;
	padding: 55px 15px 15px 15px;
	margin-bottom: 15px;
	width: 768px;
	margin: auto;
	}

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
	.header-main {
		background-color: none;
		vertical-align: middle;
		margin-bottom: 10px;
		padding: $menuPadding;
		position: absolute;
		width: 100%;
		margin: auto;
		text-align: center;
		color: $mainText;

	ul {

		list-style-type: none;
		img{
				//margin-top: $menuPadding;
				border-bottom: none 1px white;
			//vertical-align: middle;
			}

			li {
				display: inline;
				padding: $menuPadding;
				border-bottom: none 1px white;
				vertical-align: middle;
				a, a:visited {
					color: $mainText;
					text-decoration: none;
					text-shadow: 1px 1px 4px $shadow;

				}
				a:hover {
					color: $redText;
				}
			}
	}
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}
  .header {
  background-color: $dark;
	  vertical-align: middle;
  margin-bottom: 10px;
  padding: $menuPadding;
  position: relative;
  width: 100%;
  margin: auto;
  text-align: center;
  color: $mainText;

	ul {

		list-style-type: none;
		img{
				//margin-top: $menuPadding;
				border-bottom: none 1px white;
			//vertical-align: middle;
			}

			li {
				display: inline;
				padding: $menuPadding;
				border-bottom: none 1px white;
				vertical-align: middle;
				a, a:visited {
					color: $mainText;
					text-decoration: none;
					text-shadow: 1px 1px 4px $shadow;

				}
				a:hover {
					color: $redText;
				}
			}
	}
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}
.contact-container-inner{
	padding: 15px;
	float: left;
	width: 45%;
	text-align: left;
}
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  .blog-container{
    width: 768px;
    margin: auto;
  }
}
