
<div class="menu-back"></div>
<div class="info-container" load-images ng-init="loadImages()">
	<h1>Every day, we feature an image chosen from thousands around National Geographic. </h1>
	<h4>Here are ten favorites from July.</h4>
	<p>Sometimes a photograph can appear to be straight out of a dream. This month's collection of my favorite Photo of the Day images has many surreal moments—a fledgling astronaut, a gliding manta ray, and a fragile rope bridge across a giant expanse, to name a few. Whether you've seen these places before or not, there's always something new to be seen or experienced. Our planet deserves a second glance.

Janna Dotschkal is the editor of Photo of the Day, a curated look at photography from around National Geographic, including the magazine and our photo community, Your Shot. Liane DiStefano writes the captions and titles.

See which pictures were featured in our last roundup, Photo of the Day: Best of June.</p>
	<div class="info-container-inner">
	‘Building Sustainable Landscapes through Gender-Responsive Restoration in Brazil’ is a collaborative effort produced by the International Union for Conservation of Nature’s (IUCN) Global Gender Office and Global Forest and Climate Change Programme. The video showcases the importance of women’s equitable participation and representation in Forest Landscape Restoration (FLR) in Brazil via a series of capacity-building […]
	</div>
	<div class="info-container-inner">
	‘Building Sustainable Landscapes through Gender-Responsive Restoration in Brazil’ is a collaborative effort produced by the International Union for Conservation of Nature’s (IUCN) Global Gender Office and Global Forest and Climate Change Programme. The video showcases the importance of women’s equitable participation and representation in Forest Landscape Restoration (FLR) in Brazil via a series of capacity-building […]
	</div>
	<img id="myScroll"  width="100px" ng-src="images/SCROLL-DOWN.gif">
	<img id="myImg" class="gallery" ng-src="images/01.jpg">
	<img id="myImg" class="gallery" ng-src="images/02.jpg">
	<img id="myImg" class="gallery" ng-src="images/03.jpg">
	<img id="myImg" class="gallery" ng-src="images/04.jpg">
	<img id="myImg" class="gallery" ng-src="images/05.jpg">
	

</div>
